<nav class="navbar bg-success navbar-dark py-1">
    <div class="container-fluid">
        <div class="mx-auto d-flex align-items-center gap-4" style="width: fit-content;">
            <a class="navbar-brand fw-bold m-0 small text-white" href="{{ url_for('main.home') }}">Expense Tracker</a>
            <div class="d-flex gap-4 align-items-center">
                <a class="nav-link p-0 small text-white" href="{{ url_for('main.home') }}">Home</a>
                <a class="nav-link p-0 small text-white" href="{{ url_for('main.add_expense_page') }}">Add Expense</a>
                <a class="nav-link p-0 small text-white" href="{{ url_for('main.search_expenses') }}">Search Expenses</a>
                <a class="nav-link p-0 small text-white" href="{{ url_for('main.budget') }}">Budget</a>
                <a class="nav-link p-0 small text-white" href="{{ url_for('main.dashboard') }}">Dashboard</a>
                {% if current_user.is_authenticated %}
                    <a class="nav-link p-0 small text-white" href="{{ url_for('main.logout') }}">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
